[Unit]
Description=Flask App Service
After=network.target

[Service]
User=azureadmin
WorkingDirectory=/myapp
ExecStart=/usr/bin/python /myapp/app.py
Restart=always

[Install]
WantedBy=multi-user.target
