[Unit]
Description=Flask App Service
After=network.target

[Service]
User=root
WorkingDirectory=/myapp
ExecStart=/usr/bin/python3 /myapp/app.py
Restart=always

[Install]
WantedBy=multi-user.target
